.carousel {
    padding: 81px 0;
    &__inner {
        width: 750px;
    }
    .prev, .next  {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .next  {
        right: -66px;
        left: auto;
    }
    .tns-item {
        img {
            display: block;
            margin: 0 auto;
        }
    }
    .tns-nav {
        display: none;
        margin-top: 5px;
        text-align: center;
        button {
            height: 13px;
            width: 8px;
            background-color: #a5a5a5;
            border: none;
            margin-left: 7px;
            border-radius: 50%;
        }
        .tns-nav-active {
            background-color: #000;
        }
    }
}